SacerIam-ejb/src/main/resources/xsd/AllineaRuolo.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://ws.saceriam.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.saceriam.eng.it/">
    <xs:element name="AuthWSException" type="tns:AuthWSException"/>
    <xs:element name="allineaRuolo" type="tns:allineaRuolo"/>
    <xs:element name="allineaRuoloResponse" type="tns:allineaRuoloResponse"/>
    <xs:complexType name="allineaRuolo">
        <xs:sequence>
            <xs:element name="nmSistemaChiamante" type="xs:string" minOccurs="1"/>
            <xs:element name="nmUseridCor" type="xs:string" minOccurs="1"/>
            <xs:element name="nmRuolo" type="xs:string" minOccurs="1"/>
            <xs:element name="dsRuolo" type="xs:string" minOccurs="1"/>
            <xs:element name="tiRuolo" type="xs:string" minOccurs="1"/>
            <xs:element name="listaCategRuolo" type="tns:listaCategRuolo" minOccurs="1"/>
            <xs:element name="listaApplic" type="tns:listaApplic" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
     <xs:complexType name="listaCategRuolo">
        <xs:sequence>
            <xs:element name="tiCategRuolo" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="listaApplic">
        <xs:sequence>
            <xs:element name="applic" type="tns:applic" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>    
    <xs:complexType name="applic">
        <xs:sequence>
            <xs:element name="listaDichAutor" type="tns:listaDichAutor" minOccurs="1"/>
            <xs:element name="cdVersioneComp" type="xs:string" minOccurs="1"/>
            <xs:element name="nmApplic" type="xs:string" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="listaDichAutor">
        <xs:sequence>
            <xs:element name="dichAutor" type="tns:dichAutor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dichAutor">
        <xs:sequence>
            <xs:element name="dsPathEntryMenuFoglia" type="xs:string" minOccurs="0"/>
            <xs:element name="dsPathEntryMenuPadre" type="xs:string" minOccurs="0"/>
            <xs:element name="nmAzionePagina" type="xs:string" minOccurs="0"/>
            <xs:element name="nmPaginaWeb" type="xs:string" minOccurs="0"/>
            <xs:element name="nmServizioWeb" type="xs:string" minOccurs="0"/>
            <xs:element name="tiDichAutor" type="xs:string" minOccurs="0"/>
            <xs:element name="tiScopoDichAutor" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="allineaRuoloResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:allineaRuoloRisposta" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="allineaRuoloRisposta">
        <xs:sequence>
            <xs:element name="cdErr" type="xs:string" minOccurs="0"/>
            <xs:element name="cdEsito" type="tns:cdEsito" minOccurs="0"/>
            <xs:element name="dlErr" type="xs:string" minOccurs="0"/>
            <xs:element name="dsRuolo" type="xs:string" minOccurs="0"/>
            <xs:element name="listaApplic" type="tns:listaApplic" minOccurs="0"/>
            <xs:element name="nmRuolo" type="xs:string" minOccurs="0"/>
            <xs:element name="nmSistemaChiamante" type="xs:string" minOccurs="0"/>
            <xs:element name="nmUseridCor" type="xs:string" minOccurs="0"/>
            <xs:element name="tiRuolo" type="xs:string" minOccurs="0"/>
            <xs:element name="listaCategRuolo" type="tns:listaCategRuolo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AuthWSException">
        <xs:sequence>
            <xs:element name="codiceErrore" type="tns:codiceErrore" minOccurs="0"/>
            <xs:element name="descrizioneErrore" type="xs:string" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="cdEsito">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="KO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="codiceErrore">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOGIN_FALLITO"/>
            <xs:enumeration value="UTENTE_NON_ATTIVO"/>
            <xs:enumeration value="UTENTE_SCADUTO"/>
            <xs:enumeration value="UTENTE_NON_AUTORIZZATO"/>
            <xs:enumeration value="PROBLEMA_ESTRAZIONE_APPLICAZIONE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
